<p>userdetails works!</p>

<div class="img">
    <img src="{{onlineEvent.img_url}}" alt="imagen del evento">
</div>
<div class="container">
    <div class="title">
    <h1>{{onlineEvent.title}}</h1>
</div>
<div class="row">
    <div class="col-sm-4">{{onlineEvent.date | date:'d-M-y'}} / {{onlineEvent.date | date:'h:min'}}</div>
    <div class="col-sm-4">{{onlineEvent.max_participants}}</div>
</div>
<div class="row">
    <p>{{onlineEvent.description}}</p>
</div>
<div class="row ">
    <div class="col right">
        <a href="" class="btn btn-success ">Inscripcion</a>
    </div>
    
</div>
<div class="row left">
    <div class="col left">
        <a href="" class="btn btn-secondary">Volver</a>
    </div>
    
</div>
</div>
